* {
    margin: 0;
}

body {
    background-color: #231116;
    color: white;
    font-family: Arial, sans-serif;
}

header {
    background-color: #1f090f;
    box-shadow: 0 2px 4px rgba(31, 9, 15, 0.5);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 35px;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.logo-container {
    align-items: center;
    display: flex;
}

.logo {
    height: 40px;
    margin-right: 10px;
}

.page-name {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 27px;
}

.nav-links a {
    color: white;
    font-size: 18px;
    padding: 10px;
    text-decoration: none;
}

.nav-links a:hover {
    color: pink;
}

.nav-links a.active {
    color: red;
    text-decoration: underline;
}

.account {
    align-items: center;
    display: flex;
}

.account a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.account a:hover {
    color: pink;
}

.about-intro {
    display: flex;
    margin-top: 150px;
    width: 60%;
}

.left-side-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.about-logo {
    height: 70px;
    margin-right: 15px;
}

.about-name {
    font-size: 40px;
}

.about-description {
    font-size: 28px;
    margin-top: 10px;
}

.right-side-intro{
    display: flex;
    justify-content: left;
    width: 50%;
}

.about-image {
    width: 500px;
}

.about-glow {
    align-items: center;
    background-image: radial-gradient(ellipse farthest-side, rgba(93, 19, 38, 0.5), transparent);
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    height: 1000px;
    justify-content: center;
    margin-top: 100px;
    padding: 50px;
    text-align: center;
    width: 1000px;
}

.about-fact {
    font-size: 24px;
    margin-top: 15px;
}

.about-link {
    color: red;
    font-size: 24px;
    margin-top: 12px;
    text-decoration: none;
}

.about-message {
    align-items: center;
    background-color: #190b0f;
    color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding-bottom: 20x;
    padding-top: 20px;
    width: 100%;
}

.about-thanks {
    display: flex;
    font-size: 28px;
    justify-content: right;
    margin: 27px;
    text-align: right;
    width: 80%;
}

.about-clarification {
    display: flex;
    font-size: 12px;
    justify-content: left;
    margin: 15px;
    width: 70%;
}

.support-thingy {
    display: flex;
    margin-top: 150px;
    width: 60%;
}

.left-side-thingy {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.support-sorry {
    font-size: 28px;
    margin-top: 10px;
    text-align: center;
}